<div class="container mt-5">
    <app-search (searchResult) = "searchUser($event)"></app-search>
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="avatar">
                <img src="https://images.unsplash.com/photo-1622495546323-5dac33dedb01?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="rounded-circle" alt="Avatar">
            </div>
            <div class="row mb-5 text-center">
                <h2 class="mt-5 mb-4">Clare Limo</h2>
                <div class="col-md-4">
                    <p>Followers:</p>
                </div>
                <div class="col-md-4">
                    <p>Following:</p>
                </div>
                <div class="col-md-4">
                    <p>Repositories:</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1 class="text-center">Repositories</h1>
            <div class="card" *ngFor="let repo of repos">
                <div class="card-header">
                    Repo Name
                    <a href="#">{{repo.name}}</a>
                </div>
                <div class="card-body">
                  <p class="card-text">{{repo.description}} </p>
                  <p>With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
                <div class="card-footer text-muted">
                  <p>Language: </p> {{repo.language}}
                </div>
            </div>
        </div>
    </div>
</div>
