<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="avatar">
                    <img class="rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true">
            </div>
            <div class="row text-center">
                <h2 class="mt-5 mb-4">Clare Limo {{user.name}}</h2>
                <div class="col-md-4">
                    <p>Followers: {{user.followers}}</p>
                </div>
                <div class="col-md-4">
                    <p>Following: {{user.following}}</p>
                </div>
                <div class="col-md-4">
                    <p>Repositories: {{user.repos}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1 class="text-center">Repositories</h1>
        </div>
    </div>
</div>
